<a href="https://colab.research.google.com/github/AdrianCPC/Data_analysis_rentals/blob/main/Base_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Trabajando con datos

In [9]:
import pandas as pd
#pd.set_option('display.max_rows', 15) #cantidad de filas de mas para ver

#Reporte de analisis I

##Importando base de datos

In [16]:
datos = pd.read_csv('alquiler.csv', sep = ';')

In [17]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [18]:
type(datos)

pandas.core.frame.DataFrame

En esta aula, aprendimos:

Los ambientes de desarrollo para el lenguaje Python

A crear DataFrames con el paquete pandas, utilizando datos externos

Cómo obtener informaciones básicas de un DataFrame

Cómo obtener estadísticas descriptivas de los datos de un DataFrame

In [19]:
datos.info() #que tipo de informacion tiene

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [22]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [23]:
datos.head(-1) # 5 primeras lineas y 5 ultimas

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32954,Cochera,Pachacámac,0,0,0,755,14000.0,NaN,NaN
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

##Informacion generales sobre la base de datos

In [24]:
datos.dtypes # object = texto

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [27]:
tipo_de_datos = pd.DataFrame(datos.dtypes, columns=['Tipos de datos'])
tipo_de_datos

              Tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [28]:
tipo_de_datos.columns.name ='Variables'
tipo_de_datos

Variables     Tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [29]:
datos.shape #datos y olumnas

(32960, 9)

In [30]:
datos.shape[0]

32960

In [31]:
datos.shape[1]

9

In [33]:
print('La base de datos presenta {} registros (inmuebles) y {} variables'.format(datos.shape[0], datos.shape[1]))

La base de datos presenta 32960 registros (inmuebles) y 9 variables

In [ ]:
#La siguiente linea es practica

In [34]:

data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
datos_2 = pd.DataFrame(data, 
        columns = ['Alumno', 'Edad', 'Nota', 'Aprobado'])
datos_2

     Alumno  Edad  Nota  Aprobado
0    Fulano    12   7.0      True
1   Sicrano    15   3.5     False
2  Beltrano    18   9.3      True

In [36]:
clase_datos = pd.DataFrame(datos_2.dtypes, columns=['Tipos de datos'])
clase_datos

         Tipos de datos
Alumno           object
Edad              int64
Nota            float64
Aprobado           bool

In [37]:
clase_datos.columns.name = 'Variables'
clase_datos

Variables Tipos de datos
Alumno            object
Edad               int64
Nota             float64
Aprobado            bool

In [ ]:
#Fin de la linea de practica